html {
  scroll-behavior: smooth;
}

#main {
    font-family: 'Montserrat', sans-serif;    
}

body { 
  padding-top: 65px;  
}

section {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nav-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase; 
  letter-spacing: .1em;
  color: #3f3e3e;
}

.nav-link.active, .nav-link:hover, .nav-link:focus {
  color: #fbd214;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(251, 210, 20, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #fbd214;
} 

.bg-company-white {
  background-color: white ;
}

.main-bkg {
  background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}

.bkg-gray {
  background-color: #f8f9fa;
}

.bkg-white {
  background-color: white;
}

.main-header {
  background: rgba(0, 0, 0, 0.7) ;
  padding: 3rem;
}

.header-gray-bkg {
  font-family: 'Work Sans', sans-serif;
  color: #007bff;
  font-size: 3.75rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
}

.main-content {
  padding: 5rem;
}

.main-contact {
  padding: 2rem;
}

.hello-text {
  font-family: 'Work Sans', sans-serif;
  color: #fbd214;
  font-size: 2rem;
}

.brand-text {
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 3.6rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
} 

.brand-text-footer {
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
} 

.student-text {
  font-family: 'Work Sans', sans-serif;
  color: #fbd214;
  font-size: 1rem;
  margin: 0px;
} 

.info-text { 
  color: white;
  font-size: 1rem;
  margin-left: 1rem;
}

.footer-text {
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-size: 1rem;
  margin-left: 1.5rem;
  text-shadow: 1px 1px #292727;
}

.titles {
  font-size: 3.5vw;
  text-transform: uppercase; 
  letter-spacing: .1em;
  color: rgb(63, 62, 62) !important;
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 800;
  line-height: 1.2;
  color: inherit;
  text-align: left;
}

@media screen and (max-width: 768px)

{

.titles { font-size: 26px; }

}

.card-img {
  width: 100%;
  height: 50%;  
}

:target{
  padding-top: 65px; /* = to height of navbar */
  margin-top: -65px;
}


/* EXP EDU */

.timeline p, h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
}

.timeline span {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  letter-spacing: .1em;
}

.lined {
  display: inline-block;
  position: relative;
  padding-bottom: 0.7rem;
}
.lined::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5rem;
  height: 3px;
  background: #fbd214;
}
.lined::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 3rem;
  height: 2px;
  background: #fbd214;
}
.lined-center::before {
  left: calc(50% - 1.65rem);
}
.lined-center::after {
  left: calc(50% + 1.65rem);
}

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}
ul.timeline:before {
  content: ' ';
  background: #EDEDED;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}
ul.timeline:after {
  content: ' ';
  background: #fbd214;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 9px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 400;
}
li.timeline-item {
  margin: 20px 0;
}
li.timeline-item::before {
  content: ' ';
  background: #fbd214;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #fff;
  z-index: 400;
}




/*FOOTER*/

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top: -65px;
  padding: 0 !important;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFreeCodeCamp:hover {
  background-color: #087e2f;
}

.social-network a.icoGitHub:hover {
  background-color: #4c4e50;
}

.social-network a.icoHackerrank:hover {
  background-color: #2ca354;
}

.social-network a.icoEmail:hover {
  background-color: #c92626;
}

.social-network a.icoPDF:hover {
  background-color: #c90e0e;
}



.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i,
.social-network a.icoGitHub:hover i,
.social-network a.icoFreeCodeCamp:hover i,
.social-network a.icoEmail:hover i,
.social-network a.icoHackerrank:hover i,
.social-network a.icoPDF:hover i {
  color: #fff;
}

.social-network a.icoLinkedinFot {
  background-color: #007bb7;
}

.social-network a.icoGitHubFot {
  background-color: #4c4e50;
}

.social-network a.icoFreeCodeCampFot {
  background-color: #087e2f;
}

.social-network a.icoHackerrankFot {
  background-color: #2ca354;
}

.social-network a.icoEmailFot {
  background-color: #c92626;
}

.social-network a.icoFacebookFot i,
.social-network a.icoLinkedinFot i,
.social-network a.icoGitHubFot i,
.social-network a.icoFreeCodeCampFot i,
.social-network a.icoEmailFot i,
.social-network a.icoHackerrankFot i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

.reference p a{
  font-size: 10px;
}


